:root {
  --yellow: #f5c32c;
  --orange: #fca61f;
  --black: #242d49;
  --gray: #788097;
  --blue: #3b3292;
  --purple: rgb(238 210 255);
  --boxshadow: 0px 19px 60px rbg(0 0 0 /8%);
  --orangecard: rgba(252, 166, 31, 0.45);
  --smboxShadow: -79px 51px 60px rgba(0, 0, 0, 0.08);
}

.App {
  padding: 0.5rem 3.5rem;
  overflow: hidden;
  color: var(var(--black));
  font-family: Arial, Helvetica, sans-serif;
}

.button {
  border-radius: 34px;
  border: none;
  color: white;
  font-size: 16px;
  padding: 11px 26px 11px 26px;
  background: #2c62f5;
  box-shadow: 2px 4px 8px rgba(121, 164, 228, 0.9);
}

.button:hover {
  background: white;
  cursor: pointer;
  color: var(--blue);
  border: 1px solid var(--blue);
}
@media screen and (max-width: 480px) {
  .App {
    padding: 0.5rem 1rem;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
